<nav class="navbar navbar-expand-lg bg-body-tertiary text-monospace">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" routerLink="">ANGULAR_19</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            routerLink=""
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="directives"
            >Directives</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="login"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="signup"
            >SignUp</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="signals"
            >Signals</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="todolist"
            >Todo</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="forms"
            >Forms</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="parent"
            >Parent</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="pipes"
            >Pipes</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="api">API</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="json-server"
            >JSON</a
          >
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="user"
            >User</a
          >
        </li> -->
      </ul>

      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="bg-dark text-white text-center py-3 fixed-bottom">
  <div class="container">
    <p class="mb-1">&copy; 2025 My Angular App. All rights reserved.</p>
  </div>
</footer>
